*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
   

}
.circle1 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 2%;
    left: 29%;
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg, #d84869, #f46641);
    animation: circle1Animate 15s infinite;
}
@keyframes circle1Animate {
    50%{
        left: 33%;
         top: 7%;
        scale: 1.11;
    }
}
.circle2{
    position: absolute;
    height: 300px;
    border-radius: 50%;
    width: 300px;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    bottom: 8%;
    right: 23%;
    animation: circle2Animate 8s infinite;
}
@keyframes circle2Animate {
    50%{
        right:28%;

    }
}
.card-wrapper{
    position: absolute;
    height: 450px;
    text-align: center;
    width: 400px;
    background: #ffffff1a;
    border: 2px solid #ffffff30;
    border-radius: 15px;
    z-index: 5;
    top: 20%;
    left: 35%;
    backdrop-filter: blur(15px);
}
.card-wrapper img{
height: 150px;
width: 150px;
padding-top: 50px;

}
.user-name h2{
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.designation h3 {
    padding-top: 30px;
    text-align: center;
    color: #ffffff85;
  }
  .btn-group{
    padding-top: 30px;
  }
  .btn-share{
    padding: 9px 12px;
    background: transparent;
    border: 2px solid #ffffffb9;
    color:#ffffffb9;
    border-radius: 4px;
    background: #ffffff00;
    margin-right: 8px;
    cursor: pointer;
  }
  .btn-follow{
    padding: 9px 12px;
    background: transparent;
    border: 2px solid #ffffffb9;
    color:#ffffffb9;
    border-radius: 4px;
    background: #ffffff00;
    cursor: pointer;
  }
  .btn-card:hover {
    background: #ffffffb9;
    color: #131313;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 5;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
  }
  .modal-header {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
  }
  .modal-header div i {
    font-size: 30px;
  }
  .close {
    cursor: pointer;
  }
  .active {
   scale: 1;
  }
  .icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon {
    border: 1px solid #ffffff88;
    padding: 17px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
  }
  .overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
  }
  .icon i {
    font-size: 27px;
  }
  #facebook {
    color: #1771e6;
    border: 1px solid #1771e6;
  }
  #facebook:hover {
    background-color: #1771e6;
    color: #fff;
  }
  #twitter {
    color: #1c99e6;
    border: 1px solid #1c99e6;
  }
  #twitter:hover {
    background-color: #1c99e6;
    color: #fff;
  }
  
  #instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
  }
  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }
  
  #whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
  }
  #whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
  
  #telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
  }
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }
  .overlayactive {
    opacity: 1;
    pointer-events: initial;
  }
